html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem #FBED00;
          box-shadow: 0 0 0 0.2rem #FBED00;
}

h1, h2, h3, h4, h5, a {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.showcase {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.content {
  z-index: 10;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a,
.nav a,
.social a {
  margin: auto 0;
  font-size: 1.2rem;
  text-decoration: none;
}

nav a,
.social a {
  color: white !important;
}

nav a .fa-inverse,
.social a .fa-inverse {
  color: #59882B;
}

.nav-link:focus,
.nav-link:hover {
  color: #59882B !important;
}

.social {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.social-link-shadow {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.social-nav-link:hover .fa-inverse {
  color: white;
}

.navbar-brand {
  padding-top: 0;
}

.navbar-brand img {
  max-width: 113px;
}

.navbar button {
  background: -webkit-gradient(linear, left top, right top, from(#8CB560), to(#59882A));
  background: linear-gradient(90deg, #8CB560 0%, #59882A 100%);
  border: none;
}

.navbar button:focus {
  outline: none;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  right: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  display: block;
  /* Display block instead of inline */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  font-size: 4rem;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media (min-width: 992px) {
  #home-content, #about, #services-content {
    height: 100vh;
  }
  #menu {
    min-height: 100vh;
  }
  #footer {
    height: 50vh;
  }
}

@media (max-width: 590px) {
  #home .row {
    margin: 0 auto;
  }
}

#home .row {
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
  height: 80%;
}

#home h1 {
  font-size: calc(2.5rem + 1vw);
}

p {
  font-size: calc(.5rem + 1vw);
  color: #828282;
}

#home button {
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#8CB560), to(#59882A));
  background: linear-gradient(90deg, #8CB560 0%, #59882A 100%);
}

#home button:active,
#home button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #FBED00, 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 0 0.2rem #FBED00, 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.md-shadow {
  position: relative;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
}

.md-shadow:hover {
  color: #fff;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

#home .item {
  -o-object-fit: cover;
     object-fit: cover;
}

#home .banner .col-6 {
  padding-left: 0;
  padding-right: 0;
}

#home .banner img {
  border-radius: 10px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#home .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 2;
}

#home .items-1 .item:nth-child(2) {
  left: -5%;
}

#home .items-2 {
  margin-top: -1.5rem;
}

#home .items-2 .item:nth-child(1) {
  left: 5%;
}

/* Hover Shadow */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

.banner .bg,
.banner .button,
.banner a {
  top: 20%;
  left: 20%;
  border-radius: 100%;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.banner .bg {
  width: 2rem;
  height: 2rem;
}

.banner .button {
  width: 1.2rem;
  height: 1.2rem;
}

.banner .container-btn {
  position: absolute;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  top: 30%;
  left: 60%;
}

.banner .bg {
  -webkit-animation: pulse 1.2s ease infinite;
          animation: pulse 1.2s ease infinite;
  background: #8CB560;
}

.banner a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 4;
  border: none;
  background: #8CB560;
  background-size: 18px;
  cursor: pointer;
  outline: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .row {
    text-align: center;
  }
  #home .hpf {
    margin-top: 3rem;
  }
}

#about .row {
  height: 80%;
}

#about .page-heading {
  margin: 0;
}

#about video {
  border-radius: 10px;
}

#about img {
  max-width: calc(10rem + 2vw);
}

#services .services-row {
  height: 90%;
}

#services .services-row {
  height: 50%;
}

#services .services-card {
  background-color: white;
  border-radius: 10px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, 0.22);
          box-shadow: 0 5px 5px rgba(255, 255, 255, 0.22);
}

#services .services-card:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-box-shadow: 5px 20px 30px rgba(255, 255, 255, 0.2);
          box-shadow: 5px 20px 30px rgba(255, 255, 255, 0.2);
}

#services .card-data {
  margin-top: 17%;
  margin-bottom: 17%;
}

.card-data:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #59882B;
  border-radius: 0 0 10px 10px;
  opacity: 0;
}

.services-card:not(.is-active):hover .card-data:before {
  opacity: 1;
  bottom: 0;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

#menu .menu-row {
  height: 80%;
}

#menu .menu-card {
  border-radius: 10px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
}

#menu .menu-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

#menu .tab-pane img {
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#menu .tab-pane p {
  color: #59882B;
}

#menu .nav a {
  color: #828282 !important;
}

#menu .nav a:hover {
  color: #59882B !important;
}

#menu .card {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

#menu .flipper {
  padding: 0px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

#menu .flipper.flip .card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#menu .front,
#menu .back {
  width: 100%;
  padding: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#menu .front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  height: 100%;
}

#menu .back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  height: 100%;
}

#menu .card a {
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#8CB560), to(#59882A));
  background: linear-gradient(90deg, #8CB560 0%, #59882A 100%);
}

#menu .card a:active,
#menu .card a:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #FBED00, 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 0 0.2rem #FBED00, 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

#testimonials ol {
  list-style-type: none;
}

#testimonials .tabs {
  all: unset;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#testimonials .tabs li {
  all: unset;
  display: block;
  position: relative;
}

#testimonials .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #8CB560;
  border-radius: 50%;
}

#testimonials .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #8CB560;
  border-radius: 50%;
}

#testimonials .tabs li:nth-child(1) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#testimonials .tabs li:nth-child(1)::before {
  left: 64%;
  top: unset;
  bottom: -50px;
}

#testimonials .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}

#testimonials .tabs li:nth-child(1) figure img {
  margin-left: auto;
}

#testimonials .tabs li:nth-child(2) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#testimonials .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
  left: unset;
}

#testimonials .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
  left: unset;
}

#testimonials .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}

#testimonials .tabs li:nth-child(3) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#testimonials .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
  left: unset;
}

#testimonials .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
  left: unset;
}

#testimonials .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}

#testimonials .tabs li:nth-child(3):focus {
  border: 10px solid #FBED00;
}

#testimonials .tabs li figure {
  position: relative;
}

#testimonials .tabs li figure img {
  display: block;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 179px;
  height: 179px;
}

#testimonials .tabs li figure .img-h {
  width: 306px;
  height: 306px;
}

#testimonials .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #dff9d9;
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#testimonials .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#testimonials .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#testimonials .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}

#testimonials .carousel h1 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}

#testimonials .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#testimonials .carousel .carousel-indicators li {
  background: #59882B;
  background-clip: padding-box;
  height: 2px;
}

#testimonials .indicators .active {
  background: #828282 !important;
}

#testimonials .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}

#testimonials .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

#testimonials .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-weight: 700;
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .indicators {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

@media only screen and (max-width: 1200px) {
  #testimonials .tabs {
    margin-right: 25px;
  }
}

#map {
  height: 50vh;
  width: 100%;
}

#footer {
  background-color: rgba(140, 181, 96, 0.25);
}

#footer a,
#footer p {
  padding-left: 0 !important;
  color: #828282;
  font-size: calc(1rem + .2vw);
  text-decoration: none;
}

footer {
  background-color: rgba(140, 181, 96, 0.5);
}

@media (max-width: 992px) {
  #footer .f-logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */